body {
    font-family: Arial;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: darkblue;
}
a:hover {
    text-decoration: none;
}
a:visited {
    color: darkblue;
}

#login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin: -20% 0 0 -150px;
    border: 1px dashed #dfdfdf;
    padding: 5px;
}

#login-box h1 {
    font-size: 16pt;
    font-weight: bold;
    display: inline;
}

#login-box .error {
    font-weight: bold;
    color: red;
}
#login-box .logout {
    font-weight: bold;
    color: green;
}

#sidebar {
    width: 300px;
    float: left;
    padding: 10px;
}

#sidebar h1 {
    font-size: 16pt;
    font-weight: bold;
    margin: 10px 0 20px 0;
}

.menu {
    margin: 0 0 10px 40px;
}

.menu .header {
    margin-left: -40px;
    font-weight: bold;
}

.menu a {
    display: block;
}

#content {
    float: left;
    padding: 10px;
    border-left: 1px dashed #dfdfdf;
}

#content h2 {
    font-size: 16pt;
    font-weight: bold;
    margin: 10px 0 20px 0;
}

.table {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-collapse:collapse;
}

.table thead {
    font-weight: bold;
}

.table tr {
    background-color: white;
}

.table tr:hover {
    background-color: yellow;
}
.table thead tr:hover {
    background-color: white;
}

.table td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;

}

#footer {
    clear: both;
    padding: 0 0 20px 0;
    position: relative;
    left: 50%;
    margin-left: -200px;
    font-size: 10pt;
    font-style: italic;
    width: 400px;
    text-align: center;
}

.export td {
    min-width: 50px;
}