<script type="text/javascript">
    
    var data = new Array($DATA);
    var count = data.length;
    var categories = new Array("mlad\u0161í \u017eák","star\u0161í \u017eák","junior","senior", "mlad\u0161í \u017eákyně");
    var numEdit = 0, numDel = 0;
    
    function editRow(row){
        name = data[row][1];
        category = data[row][2];
        club = data[row][3];
        license = data[row][4];
        
        rowid = document.getElementById("row" + row);
        
        rowid.cells[0].innerHTML = "<input type=\"text\" value=\"" + name + "\" name=\"name[" + row + "]\" />";
        rowid.cells[1].innerHTML = "<select name=\"category["+row+"]\" id=\"sel"+row+"\"></select>";
        
        sel = document.getElementById ("sel" + row);
        
        for(i=0;i<5;i++){
            opt = document.createElement('option');
            opt.text = categories[i];
            opt.setAttribute("value", categories[i]);
            if(category == categories[i]) opt.setAttribute("selected", "selected");
            sel.options.add (opt);
        }
        
        rowid.cells[2].innerHTML = "<input type=\"text\" value=\"" + club + "\" name=\"club[" + row + "]\" />";
        rowid.cells[3].innerHTML = "<input type=\"text\" value=\"" + license + "\" name=\"license[" + row + "]\" />";
        rowid.cells[4].innerHTML = "<a href=\"#show\" onClick=\"showRow("+row+");\">vrátit</a>";
        rowid.cells[5].innerHTML = '<input type="hidden" name="del['+row+']" value="'+data[row][5]+'" /><input type="hidden" name="id['+row+']" value="'+data[row][0]+'" />';
        
        numEdit++;
        document.getElementById("submit").disabled = false;
    }
    
    function showRow(row){
        numEdit--;
        plainShowRow(row);
    }
    
    function plainShowRow(row){
        name = data[row][1];
        category = data[row][2];
        club = data[row][3];
        license = data[row][4];
        
        rowid = document.getElementById("row" + row);
        
        rowid.cells[0].innerHTML = name;
        rowid.cells[1].innerHTML = category;
        rowid.cells[2].innerHTML = club;
        rowid.cells[3].innerHTML = license;
        
        if(data[row][5] == 0){
            rowid.cells[4].innerHTML = "<a href=\"#show\" onClick=\"editRow("+row+");\">upravit</a>";
            rowid.cells[5].innerHTML = "<a href=\"#delete\" onClick=\"delRow("+row+");\">smazat</a>";
        }
        else{
            rowid.cells[4].innerHTML = "";
            rowid.cells[5].innerHTML = "<a href=\"#restore\" onClick=\"resRow("+row+");\">obnovit</a>";
        }
        
        rowid.cells[5].innerHTML += '<input type="hidden" name="del['+row+']" value="'+data[row][5]+'" /><input type="hidden" name="id['+row+']" value="'+data[row][0]+'" />';
        
        if(numEdit == 0 && numDel == 0)document.getElementById("submit").disabled = true;
        
        else document.getElementById("submit").disabled = false;
    }
    
    function delRow(row){
        document.getElementById("row" + row).style.backgroundColor = "red";
        data[row][5] = 1;
        numDel++;
        plainShowRow(row);
        
    }
    
    function resRow(row){
        document.getElementById("row" + row).style.backgroundColor = "white";
        data[row][5] = 0;
        numDel--;
        plainShowRow(row);
    }
    
    var rows = 0;
    function addRow(row){
        rowCount = document.getElementById("add-table").rows.length;
        row = document.getElementById("add-table").insertRow(rowCount);
        
        rowCount--;
        
        cell1 = row.insertCell(0);
        element1 = document.createElement("input");
        element1.type = "text";
        element1.name = "name[" + rowCount + "]";
        cell1.appendChild(element1);
        
        cell2 = row.insertCell(1);
        element2 = document.createElement("select");
        element2.name = "category[" + rowCount + "]";
        
        for(var i=0;i<5;i++){
            opt = document.createElement('option');
            opt.text = categories[i];
            opt.setAttribute("value", categories[i]);
            if(i == 3) opt.setAttribute("selected", true);
            element2.options.add (opt);
        }
        
        cell2.appendChild(element2);
        
        cell3 = row.insertCell(2);
        element3 = document.createElement("input");
        element3.name = "club[" + rowCount + "]";
        element3.type = "text";
        cell3.appendChild(element3);
        
        cell4 = row.insertCell(3);
        element4 = document.createElement("input");
        element4.name = "license[" + rowCount + "]";
        element4.type = "text";
        cell4.appendChild(element4);
        
        document.getElementById("add").disabled = false;
    }
    
</script>

<h2>Upravit závodníky</h2>

<form action="?p=do-edit-participants" method="POST">
    <table class="table">
        <thead><tr><td>Jméno</td><td>Kategorie</td><td>Klub</td><td>Licence</td><td></td><td></td></tr></thead>
        $TABLE
    </table>
    <input type="submit" value="Upravit" id="submit" disabled />
</form>
<br />
<form action="?p=do-add-participants" method="POST">
    <table id="add-table" class="table">
        <thead><tr><td>Jméno</td><td>Kategorie</td><td>Klub</td><td>Licence</td></tr></thead>
    </table>
    <a href="#add" onClick="addRow()">Přidat další řádek</a><br />
    <input type="submit" value="Přidat" id="add" disabled />
</form>
<br />
<form action="?p=do-upgrade-participants" method="POST">
    <table id="add-table" class="table">
        <thead><tr><td>Jméno</td><td>Kategorie</td><td>Zestárnout</td><td>Převést</td></tr></thead>
        $UPGRADE
    </table>
    <input type="submit" value="Přidat"/>
</form>
