<script type="text/javascript">
    maxid = $MAXID;
    
    function update(evt){
        
        if(evt.keyCode == 37 ||evt.keyCode == 38 ||evt.keyCode == 39 ||evt.keyCode == 40){
            
            start = document.activeElement.name.indexOf("[") + 1;
            end = document.activeElement.name.indexOf("][") - start;
            id = document.activeElement.name.substr(start, end);
            
            start = document.activeElement.name.indexOf("][") + 2;
            end = document.activeElement.name.length - start - 1;
            attempt = document.activeElement.name.substr(start, end);
            if(evt.keyCode == 37){
                //left
                if(attempt == 0){
                    if(id > 0){
                        attempt = 9;
                        id--;
                    }
                } else {
                    attempt--;
                }
            }
            if(evt.keyCode == 38){
                //up
                if(id > 0)id--;
            }
            if(evt.keyCode == 39){
                //right
                if(attempt == 9){
                    if(id < maxid){
                        attempt = 0;
                        id++;
                    }
                } else {
                    attempt++;
                }
            }
            if(evt.keyCode == 40){
                //down
                if(id < maxid)id++;
            }
            
            tmp = document.getElementsByName("time["+id+"]["+attempt+"]");
            tmp[0].focus();
            tmp[0].select();
            return;
        }
        
        /*if(document.activeElement.value.length == 2){
            start = document.activeElement.name.indexOf("[") + 1;
            end = document.activeElement.name.indexOf("][") - start;
            id = document.activeElement.name.substr(start, end);
            
            start = document.activeElement.name.indexOf("][") + 2;
            end = document.activeElement.name.length - start - 1;
            attempt = document.activeElement.name.substr(start, end);
            if(attempt == 9) {
                attempt = 0;
                id++;
                if(id > maxid) return;
                while(document.getElementsByName("time["+id+"]["+attempt+"]").length == 0){
                    id++;
                }
            }
            else attempt++;
            
            
            
            tmp = document.getElementsByName("time["+id+"]["+attempt+"]");
            tmp[0].focus();
            tmp[0].select();
        }*/
    }
    document.onkeyup = update;
</script>

<h2>$ROUND. kolo</h2>

<form action="?p=do-edit-round&n=$ROUND" method="POST">

    <table>
        <tr><td>Datum konání:</td><td><input type="text" value="$DATE" name="date"/></td></tr>
        <tr><td>Číslo soutěže:</td><td><input type="text" value="$COMPETITION_NUM" name="competition_num"/></td></tr>
        <tr><td>Počasí:</td><td><input type="text" value="$WEATHER" name="weather" size="100" /></td></tr>
    </table>
    <br /><br />
    <table class="table">
        <thead><tr><td>Jméno</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>Součet</td></tr></thead>
        $TABLE
    </table>

    <input type="submit" value="Uložit" />
</form>