<h2>Upravit nastavení</h2>

<form action="?p=do-edit-settings" method="POST">
    <table>
        <tr><td>Jméno soutěže:</td><td><input type="text" name="name" value="$NAME" size="50"/></td></tr>
        <tr><td>Místo konání:</td><td><input type="text" name="place" value="$PLACE" size="50"/></td></tr>
        <tr><td>Kategorie:</td><td><input type="text" name="category" value="$CATEGORY" size="50"/></td></tr>
        <tr><td>Pořadatel:</td><td><input type="text" name="organizer" value="$ORGANIZER" size="50"/></td></tr>
        <tr><td>Ředitel soutěže:</td><td><input type="text" name="boss" value="$BOSS" size="50"/></td></tr>
        <tr><td>Jury:</td><td><input type="text" name="jury" value="$JURY" size="50"/></td></tr>
    </table>
    
    <input type="submit" value="Uložit" />
</form>