<h2>Export dat</h2>
<strong>Možnosti exportu:</strong><br />
<form method="POST" action="?p=do-export">
    <table class="export">
        <tr><td>Typ exportu:</td><td><input type="radio" name="export-type" value="standard" checked />standardní</td><td><input type="radio" name="export-type" value="announcement" />vyhlášení</td></tr>
        <tr><td>Počet exportovaných kol:</td>
            <td><input type="radio" name="max-round" value="1"$CHECKED[0] />1</td>
            <td><input type="radio" name="max-round" value="2"$CHECKED[1] />2</td>
            <td><input type="radio" name="max-round" value="3"$CHECKED[2] />3</td>
            <td><input type="radio" name="max-round" value="4"$CHECKED[3] />4</td>
            <td><input type="radio" name="max-round" value="5"$CHECKED[4] />5</td>
            <td><input type="radio" name="max-round" value="6"$CHECKED[5] />6</td>
        </tr>
    </table>
    <input type="submit" value="Exportovat" />
</form>