<h2>Domovská stránka</h2>
Aktuálně nastavený ročník: $YEAR<br />
<form action="?p=set-year" method="POST">
    Změnit ročník: <select name="year">
        $OPTIONS
    </select><br />
    <input type="submit" value="Změnit" />
</form>
