<div id="sidebar">
    <h1>SLH manažer</h1>
    
    <strong><a href="?p=home">Úvod</a></strong><br />
    <strong><a href="?p=edit-settings">Upravit nastavení</a></strong><br /><br />
    
    <div class="menu">
        <div class="header">Závodníci</div>
        <a href="?p=edit-participants">Upravit závodníky</a>
        Zobrazit startovné
    </div>
    <div class="menu">
        <div class="header">Upravit výsledky kol</div>
        <a href="?p=edit-round&n=1">1. kolo</a>
        <a href="?p=edit-round&n=2">2. kolo</a>
        <a href="?p=edit-round&n=3">3. kolo</a>
        <a href="?p=edit-round&n=4">4. kolo</a>
        <a href="?p=edit-round&n=5">5. kolo</a>
        <a href="?p=edit-round&n=6">6. kolo</a>
    </div>
    <strong><a href="?p=export">Export výsledků</a></strong>
    <br />
    <strong><a href="?p=logout">Odhlásit se</a></strong>
</div>
<div id="content">
    $CONTENT
</div>

<div id="footer">Počet požadavků na databázi: $NUMQUERIES</div>