<div id="login-box">
    <h1>Manažer výsledků SLH</h1><br /><br />
    $NOTICE
    <form action="?p=do-login" method="POST">
        Heslo: <input type="password" name="pass"/><br /><br />
        <input type="submit" value="Přihlásit" />
    </form>
</div>